.gpt3__whatgpt3 {
  padding: 6rem;
}

.gpt3__whatgpt3-feature {
  display: flex;
}

.gpt3__whatgpt3-feature .gpt3__features-container__feature {
  margin: 0;
}
.gpt3__whatgpt3-feature .gpt3__features-container__feature-text {
  margin: 0;
  max-width: 700px;
}

.gpt3__whatgpt3-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 0 2rem;
  flex-wrap: wrap;
}

.gpt3__whatgpt3-heading h1 {
  font-size: 34px;
  line-height: 45px;
  font-weight: 800;
  max-width: 510px;
  font-family: var(--font-family);
  margin-bottom: 1rem;
  min-width: 300px;
}

.gpt3__whatgpt3-heading p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--color-subtext);
  font-family: var(--font-family);
  cursor: pointer;
}

.gpt3__whatgpt3-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 4rem;
}

.gpt3-head-feat {
  margin-right: 2rem;
}

.gpt3__whatgpt3-feature {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gpt3-container_feature-text {
  max-width: 800px;
  min-width: 200px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-text);
}

@media screen and (max-width: 1080px) {
  .gpt3-container_feature-text {
    max-width: 450px;
  }
}

@media screen and (max-width: 650px) {
  .gpt3__whatgpt3 {
    padding: 3rem 2rem;
  }
  /* Customizing feature component as per needs */
  .gpt3__whatgpt3-feature .gpt3__features-container__feature {
    flex-direction: column;
  }

  /* Customizing feature component as per needs */
  .gpt3__whatgpt3-feature .gpt3__features-container_feature-text {
    margin-top: 0.5rem;
  }

  .gpt3__whatgpt3-heading h1 {
    font-size: 28px;
    line-height: 40px;
  }
}

@media screen and (max-width: 350px) {
  /* Customizing feature component as per needs */
  .gpt3__whatgpt3-container .gpt3__features-container__feature {
    margin: 1rem 1rem;
    min-width: 100%;
  }
}
